
set_io rst 12
set_io clk 1
set_io div_clk 117

set_io seg[0] 16
set_io seg[1] 18
set_io seg[2] 80
set_io seg[3] 82
set_io seg[4] 83
set_io seg[5] 17
set_io seg[6] 79
set_io seg[7] 81

set_io digit1 11
set_io digit2 10
set_io digit3 9
set_io digit4 8