set_io clk    1
set_io rst    12


set_io data_clk 121
set_io Enable  119
set_io data_point 118

set_io seg[0] 16
set_io seg[1] 18
set_io seg[2] 80
set_io seg[3] 82
set_io seg[4] 83
set_io seg[5] 17
set_io seg[6] 79
set_io seg[7] 81

set_io dig[0] 11
set_io dig[1] 10
set_io dig[2] 9
set_io dig[3] 8

set_io parity_bit 45